@tailwind base;

@tailwind components;

@tailwind utilities;

.fade-in,
.fade-out {
  will-change: auto;
}

.fade-in {
  animation-duration: 300ms;
  animation-name: fade-in;
}

.fade-out {
  animation-duration: 300ms;
  animation-name: fade-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

.max-lines {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wysiwyg {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  hr {
    @apply mb-2;
  }

  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  h5 {
    @apply text-sm;
  }
  h6 {
    @apply text-xs;
  }

  li {
    @apply ml-4;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  img,
  pre {
    max-width: 100%;
  }

  a {
    @apply text-blue-700;
    @apply underline;
  }
}

/* .wysiwyg {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  hr {
    @apply mb-2;
  }

  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  h5 {
    @apply text-sm;
  }
  h6 {
    @apply text-xs;
  }

  li {
    @apply ml-4;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  a {
    @apply text-blue-700;
    @apply underline;

    &:hover {
      @apply text-blue-800;
    }
  }

  img,
  pre {
    max-width: 100%;
  }
} */
